<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{month | title}}</title>
</head>
<body>
   <h1>{{month | title}} challenge</h1>  <!-- this is a DTL filter  check here https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#title -->
    <h2>
        {{text}}
    </h2>

    <a href="{% url "challenge-home"%}">home page</a>
</body>
</html>